@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://wiki.crust.network" target="_blank">Wiki</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>